<%= form_with(model: publication) do |form| %>
  <% if publication.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(publication.errors.count, "error") %> prohibited this publication from being saved:</h2>

      <ul>
        <% publication.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="input-group py-2">
    <%= form.label :image, "Imagen", class: "input-group-text", style: "background-color: #e3f2fd;" %>
    <%= form.text_field :image, placeholder: "URL Imagen", class: "form-control" %>
  </div>

  <div class="input-group py-2">
    <%= form.label :title, "Titulo", class: "input-group-text", style: "background-color: #e3f2fd;" %>
    <%= form.text_field :title, placeholder: "Titulo", class: "form-control" %>
  </div>

  <div class="input-group py-2">
    <%= form.label :description, "Descripción", class: "input-group-text", style: "background-color: #e3f2fd;" %>
    <%= form.text_area :description, placeholder: "Descripción", class: "form-control" %>
  </div>
  
  <div class="py-2">
    <% if action_name == "new" %>
      <%= form.submit "Guardar", class: "btn btn-success rounded-pill fw-semibold text-white" %>
    <% else %>
      <%= form.submit "Actualizar", class: "btn btn-success rounded-pill fw-semibold text-white" %>
    <% end %>
  </div>
<% end %>
